$tbl_header_bkgnd_color: #A55129 ;
$tbl_header_text_color: white ;
$tbl_row_bkgnd_color: #F7D9D9 ;
$tbl_row_text_color: #8C4510 ;
/*$tbl_row_text_color: black ;*/
$tbl_cursor_hover_color: #cbae69 ;

 th,  thead td 
{
    font-weight: bold!important;
    color: $tbl_header_text_color!important;
    background-color: $tbl_header_bkgnd_color!important;
}

 tr.odd > td 
{
    background-color: $tbl_row_bkgnd_color!important;
    color: $tbl_row_text_color!important;
}

 tr.even > td 
{
    color: $tbl_row_text_color!important;
}

 tbody > tr.hover > td,  tbody > tr:hover > td,  tbody > tr.even:hover > td,  tbody > tr.odd:hover > td 
{
    background-color: $tbl_cursor_hover_color!important;
    color: $tbl_row_text_color!important;
}

body
{
    height: 100%;
    width: 100%;

    background-size:cover;
    background-repeat: no-repeat;
    opacity : 0.85;
}

br
{
   clear:  left;
}


.CSSRtlrAnimatedButton 
{
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: red;
    /*position: relative;*/

    /* Chrome, Safari, Opera */
    /*-webkit-animation-name: animatedbuttonexample;*/ 
    /*-webkit-animation-duration: 4s;*/ 
    /*-webkit-animation-iteration-count: infinite;*/ 

    /*animation-name: animatedbuttonexample;*/
    /*animation-duration: 4s;*/
    /*animation-iteration-count: infinite;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animatedbuttonexample {
    0%   {background-color:red; }
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green; }
    100% {background-color:red; }
}

/* Standard syntax */
@keyframes animatedbuttonexample {
    0%   {background-color:red; }
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green; }
    100% {background-color:red; }
}

.CSSRtlrReadOnlyTextBoxForHeader
{
    background-color: $tbl_header_bkgnd_color;
    color: $tbl_header_text_color ;
    border: none ;
}



.CSSRtlrPg
{
    /*top: 0;*/
    /*left: 0;*/
    /*background-image: url(../Images/RtlrCFBLogo.jpg);*/
    /*width: 100%;*/
    /*height: 100%;*/
    
    /*background: url(../Images/RtlrCFBLogo.jpg) !important;*/
    /*background-image: url(../Images/RtlrCFBLogo.jpg) !important;*/
    /*background-size: 100% 100%;  // or cover like Ben Dyer states*/
    /*background-repeat: no-repeat;*/
    /*height: 768px;
    /*width: 1920px;*/
    /*background-image: url('../Images/RtlrCFBLogo.jpg');*/
    /*background: url('/img/mycss.png');
    background-size:cover;
    background-repeat: no-repeat;
    opacity : 0.8;*/
}

@mixin CSSHdrFtrPnlAttr
{
    position: absolute;

    left: 0.5%;

    height: 10%;
    width: 99%;

    border: 1px solid;

    padding: 2px;
}

.CSSHdrPnl
{
    @include CSSHdrFtrPnlAttr;

    top: 1%;
        
    background: #ffccff;
}

.CSSFtrPnl
{
    @include CSSHdrFtrPnlAttr;

    bottom: 0.5%;
    
    background: #ffccff;  
    
    /*text-align: center;*/

    overflow-y: scroll;
}


@mixin CSSLftRhtPnlAttr
{
    position: absolute;

    top: 11%;   

    height: 78.5%;
    
    border: 1px solid;

    padding: 2px;
}

.CSSLftPnl
{
    @include CSSLftRhtPnlAttr;
    
    left: 0.5%;

    width: 11%;

    background: #ffffcc;
    
    overflow-y: scroll;
}

.CSSRhtPnl
{ 
    @include CSSLftRhtPnlAttr;
       
    right: 0.5%;

    width: 18%;

    background: #ccff33;   
}

.CSSRcdNavMnuPnl
{
    position: absolute;

    top: 11%;
    left: 11.5%;

    height: 5%;
    width: 70%;
       
    background: #D3DEEF;
    border: 1px solid;

    padding: 2.5px;
}

.CSSRcdNavMnuTckrPnl
{
    @extend .CSSRcdNavMnuPnl;
}

.CSSCtrPnl
{
    position: absolute;

    top: 16%;
    left: 11.5%;

    height: 73.5%;
    width: 70%;
    
    background: #f5bb33;
    /*background: #4cff00*/
    border: 1px solid;
    overflow-y: scroll;

    padding: 2px;
}

.CSSRtlrAjxTC
{ 
}

/* Tab Contoller Header*/
.CSSRtlrAjxTC .ajax__tab_header
{
    color: #000000;
    font-family: Calibri;
    font-size: 100%;
    font-weight: bold;
    background-color: transparent;
    padding: 5px;
    display: inline-block;
    border: solid 1px #a1a1a1;
}

/* Tab Contoller Body*/
.CSSRtlrAjxTC .ajax__tab_body
{
    border: 1px solid #b4cbdf;
    padding-top: 0px;
    background-color: transparent;
}

/*Tab Active*/
.CSSRtlrAjxTC .ajax__tab_active .ajax__tab_tab
{
    color: $tbl_header_text_color;
    /*background:url("../../tab_active.gif") repeat-x;*/
    height: 20px;
    background-color: $tbl_header_bkgnd_color;
}
.CSSRtlrAjxTC .ajax__tab_active .ajax__tab_inner
{
    color: $tbl_header_text_color;
    /*background:url("../../tab_left_active.gif") no-repeat left;*/
    padding-left: 10px;
    background-color: $tbl_header_bkgnd_color;
}
.CSSRtlrAjxTC .ajax__tab_active .ajax__tab_outer
{
    color: $tbl_header_text_color;
    /*background:url("../../tab_right_active.gif") no-repeat right;*/
    padding-right: 6px;
    background-color: $tbl_header_bkgnd_color;
}

/*Tab Hover*/
.CSSRtlrAjxTC .ajax__tab_hover .ajax__tab_tab
{
    color: #00ffff;
    /*background:url("../../tab_hover.gif") repeat-x;*/
    height: 20px;
    background-color: $tbl_header_bkgnd_color;
}
.CSSRtlrAjxTC .ajax__tab_hover .ajax__tab_inner
{
    color: #00ffff;
    /*background:url("../../tab_left_hover.gif") no-repeat left;*/
    padding-left: 10px;
    background-color: $tbl_header_bkgnd_color;
}
.CSSRtlrAjxTC .ajax__tab_hover .ajax__tab_outer
{
    color: #00ffff;
    /*background:url("../../tab_right_hover.gif") no-repeat right;*/
    padding-right: 6px;
    background-color: $tbl_header_bkgnd_color;
}

/*Tab Inactive*/
.CSSRtlrAjxTC .ajax__tab_tab
{
    color: #666666;
    /*background:url("../../tab_Inactive.gif") repeat-x;*/
    height: 20px;
}
.CSSRtlrAjxTC .ajax__tab_inner
{
    color: #666666;
    /*background:url("../../tab_left_inactive.gif") no-repeat left;*/
    padding-left: 10px;
}
.CSSRtlrAjxTC .ajax__tab_outer
{
    color: #666666;
    /*background:url("../../tab_right_inactive.gif") no-repeat right;*/
    padding-right: 6px;
    margin-right: 2px;
}

@mixin CSSFrmLyot
{
    padding: 2px;
}

/* Common Attributes for Label, Input, DropDownList*/
@mixin CSSCmnAttrLabelInputDrpDwn
{
    display: inline;
    float: left;
    margin-bottom: 1%;
    /*font: 10px bolder x-large arial, verdana;*/
    font: normal normal bold 11px Verdana, Calibri, Arial, Georgia, Serif ;
}

/*Overridden & Additional Attributes for Label*/
/*.CSSFrmLyot label, .CSSFrmLyot_Label*/
@mixin CSSFrmLyot_Label
{
    @include CSSCmnAttrLabelInputDrpDwn ;
    @extend label;
    
    /* width: 90px; */
    
    text-align: right;
    padding-right: 1%;
}

@mixin CSSFrmLyot_Input
{
    @include CSSCmnAttrLabelInputDrpDwn ;
}

/* For Ajax ComboBox */
.CSSFrmLyot_AjxCB
{
    @include CSSCmnAttrLabelInputDrpDwn ;

    width: 100%;
}

.select2-container .CSSFrmLyot_AjxCB
{
    height: 18px!important;
    /*margin-top: -4%;*/
}

.CSSFrmLyot_AjxCB .select2-selection__arrow
{
    /*margin-top: -5%;*/
    margin-top: -1%;
}

.CSSFrmLyot_AjxCB .select2-selection__rendered 
{
    line-height: 18px!important;
    /*color: red!important;*/
    background-color: white!important;
    padding-left: 0px!important;   
}

.CSSFrmLyot_AjxCB .select2-results__option 
{
    background-color: white;
    /*color: black;*/
}

.CSSFrmLyot_AjxCB .ajax__combobox_itemlist
{
    /*@include CSSCmnAttrLabelInputDrpDwn ;*/

    position: fixed !important;
    overflow: auto !important;
    /*width: 255px !important;*/
    /*height: 100px !important;*/

    /*width: 255px ;*/
    /*height: 100px ;*/
    padding-bottom: 1%;

    min-height: 100px !important;
}

.CSSFrmLyot_AjxCB .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    @include CSSCmnAttrLabelInputDrpDwn;

    width: 100%;
}

.CSSFrmLyot_AjxCB .ajax__combobox_inputcontainer
{
    width: 100%;
}

.CSSFrmLyot_AjxCB .ajax__combobox_textboxcontainer
{
    width: 100%;
} 


.CSSRtlrTblFixHdrBdyFtr
{
    /*position:relative;*/
   /* width:99.8%;*/
    /*border:none!important;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}


.CSSRtlrTblFixHdrBdyFtr table
{
    border: 1px solid #DEBA84;
}

.CSSRtlrTblFixHdrBdyFtr th
{
    background-color: $tbl_header_bkgnd_color !important;
    color: $tbl_header_text_color!important; 
}

.CSSRtlrTblFixHdrBdyFtr td
{
    background-color: #FFF7E7;
    color: #8C4510;
}

.CSSRtlrTblFixHdrBdyFtr th, .CSSRtlrTblFixHdrBdyFtr td
{
    border: 1px solid #DEBA84;
    /*text-align: left;*/

    /*width: 100px;*/
}

.CSSRtlrTblFixHdrBdyFtr thead > tr, .CSSRtlrTblFixHdrBdyFtr tfoot > tr
{
    /*position: relative;*/
    /*display: block;*/
}

.CSSRtlrTblFixHdrBdyFtr tbody
{
    /*display: block;*/
    /*height: 200px!important;*/
    /*overflow-y: scroll!important;*/
}

.CSSRtlrTblFixHdrBdyFtr tfoot label
{
    text-align: right !important;
}

.CSSRtlrGVFixHdrBdyFtr
{
    @extend .CSSRtlrTblFixHdrBdyFtr ;
    overflow-x: hidden !important;
}


.CSSRtlrGVHeaderStyle
{
    text-align: left;
    background-color: $tbl_header_bkgnd_color!important;
    font: bold;
    color: $tbl_header_text_color!important;
}

.CSSRtlrGVFooterStyle
{
    background-color: #F7DFB5;
    color: #8C4510;
}

.CSSRtlrGVPagerStyle
{
    color: #8C4510;
}

.CSSRtlrGVRowStyle, .CSSRtlrGVRowStyle a
{
    text-align: left;
    background-color: #FFF7E7;
    color: #8C4510;
    text-wrap: normal;
}

.CSSRtlrGVSelectedRowStyle, .CSSRtlrGVSelectedRowStyle a
{
    background-color: #738A9C;
    font-weight: bold;
    color: white;
}

.CSSRtlrGVAlternateRowStyle, .CSSRtlrGVAlternateRowStyle a
{
    background-color: $tbl_row_bkgnd_color;
    color: $tbl_row_text_color;
}

.CSSRtlrGVSortedAscCellStyle
{
    background-color: #FFF1D4;
}

.CSSRtlrGVSortedAscHeaderStyle
{
    background-color: #B95C30;
}

.CSSRtlrGVSortedDescCellStyle
{
    background-color: #F1E5CE;
}

.CSSRtlrGVSortedDescHeaderStyle
{
    background-color: #93451F;
}

.CSSRtlrGVGridStyle
{
    background-color: #DEBA84;
    border-color: #DEBA84;
    border-style: none;
    border-width: 1px;
}

.CSSRtlrGVGridStyle td
{
    padding: 3px;
    margin: 2px;
}

.CSSRtlrTblHdr
{

}

.CSSRtlrTblBdy
{

}

.CSSRtlrTblFtr
{

}

.CSSRtlrItmLstTblCell-Hdn
{
     width: 500px;
}

.CSSRtlrItmLstTblCell-Img
{
     width: 20px;
}

.CSSRtlrItmLstTblCell-PrntBC
{
     width: 15px;
}

.CSSRtlrItmLstTblCell-SNo
{
     width: 20px;
}

.CSSRtlrItmLstTblCell-Itm
{
     width: 190px;
     direction: rtl; 
}

.CSSRtlrItmLstTblCell-IBC
{
     width: 80px;
}

.CSSRtlrItmLstTblCell-STK-QTY
{
     width: 70px;
}

.CSSRtlrItmLstTblCell-QTY
{
     width: 70px;
}

.CSSRtlrItmLstTblCell-QT
{
     width: 10px;
}

.CSSRtlrItmLstTblCell-Unt
{
     width: 30px;
}

.CSSRtlrItmLstTblCell-IncSz
{
     width: 15px;
}

.CSSRtlrItmLstTblCell-Prct
{
     width: 50px;
}

.CSSRtlrItmLstTblCell-Price
{
     width: 70px;
}

.CSSRtlrItmLstTblCell-Calc
{
     width: 80px;
}

.CSSRtlrItmLstTblCell-20
{
     width: 20px;
}

.CSSRtlrItmLstTblCell-30
{
     width: 30px;
}

.CSSRtlrItmLstTblCell-40
{
     width: 40px;
}

.CSSRtlrItmLstTblCell-50
{
     width: 50px;
}

.CSSRtlrItmLstTblCell-80
{
     width: 80px;
}

.CSSRtlrItmLstTblCell-120
{
     width: 120px;
}

.CSSRtlrItmLstTblCell-130
{
     width: 130px;
}

.CSSRtlrItmLstTblCell-135
{
    width: 135px;
}

.CSSRtlrItmLstTblCell-140
{
     width: 140px;
}

.CSSRtlrItmLstTblCell-150
{
     width: 150px;
}

.CSSRtlrItmLstTblCell-200
{
     width: 200px;
}

.CSSRtlrItmLstTblCell-220
{
     width: 220px;
}

.CSSRtlrItmLstTblCell-250
{
     width: 250px;
}

.CSSRtlrItmLstTblCell-300
{
     width: 300px;
}


.CSSRtlrItmLstTblCellChldElmnt
{
    @include CSSFrmLyot_Input ;

    width: 100%!important;
    text-align: right!important;
    margin-top: 5px !important;
    max-width: none!important;
    margin: 1px!important;
}

.CSSRtlrTblBdy input[type="text"]
{
    text-align: left!important;
}

.CSSRtlrItmLstTblCellChldImg
{
    @extend .CSSRtlrItmLstTblCellChldElmnt ;

    width:inherit ;
    padding: 1px ;
    float:right;
    max-width: none!important;
}

.CSSRtlrItmLstTblCellChldLbl, .CSSRtlrTblFixHdrBdyFtr label, .CSSRtlrTblHdr label, .CSSRtlrTblBdy label, .CSSRtlrTblFtr label
{
    @include CSSFrmLyot_Label;
    @extend .CSSRtlrItmLstTblCellChldElmnt ;
    
    /*padding: 0% !important;*/
}

.CSSRtlrTblHdr label
{
    text-align: left!important;
}

.CSSRtlrTblBdy td a
{
    @extend .CSSRtlrItmLstTblCellChldLbl;
    width: initial !important;
}

.CSSRtlrTblFtr input
{
    /*padding-right: 18%!important;*/
}

/* Accordian Pane Header*/
@mixin CSSRtlrAcrdnMnuHdr
{
    border: 1px solid #2F4F4F;
    background-color: $tbl_header_bkgnd_color;
    color: $tbl_header_text_color;    
    padding: 1%;
    margin-top: 2%;
    cursor: pointer;
}

/* Accordian Pane Selected Header*/
@mixin CSSRtlrAcrdnMnuHdrSlcted
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #DEBA84 ;
    padding: 1%;
    margin-top: 2%;
    font-weight: bold;
    cursor: pointer;
    font-size: 90%;
}

/* Accordian Menu Content Header*/
@mixin CSSRtlrAcrdnMnuHdrCnt
{
    background-color: $tbl_row_bkgnd_color;
    /*color: $tbl_row_text_color;  */
    border: 1px dashed;
    border-top: none;
    padding: 1%;
    font-size: 95%;
}

/* Accordian Pane Header*/
.CSSAcrdnNavMnuHdr
{
    @include CSSRtlrAcrdnMnuHdr ;
}

/* Accordian Pane Selected Header*/
.CSSAcrdnNavMnuHdrSlcted
{
    @include CSSRtlrAcrdnMnuHdrSlcted ;
}

/* Accordian Menu Content Header*/
.CSSAcrdnNavMnuHdrCnt
{
    @include CSSRtlrAcrdnMnuHdrCnt ;
}

div.CSSAcrdnNavMnuHdr a
{
    color: white !important ;
}

input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: green ;
}

input[type="submit"][disabled="disabled"]:hover, input[type="button"][disabled="disabled"]:hover
{
    background-color: red ;
}




.CSSSlFrm
{
    @include CSSFrmLyot;
}

@mixin CSSSlSubFrm
{
    @extend .CSSSlFrm ;
   
    left: 0.2%;

   /* width: 98%;*/
    border: solid 1px #a1a1a1;

    padding: 2px;
}


 
.CSSDfltFrm
{
    @include CSSSlSubFrm ;

    /*width: 1000px !important ;*/
    height: 400px !important ;
    /*overflow-x: scroll ;*/
    /*overflow-y: scroll ;*/
}



.CSSSlFrmItmLst
{
    @include CSSSlSubFrm ;

    /*width: 100% !important ;*/
    /*height: 243px !important ;*/
}

.CSSSlFrmItmLst .CSSRtlrTblFtr label
{
    text-align: right!important;
}

.CSSRtlrTblFixHdrBdyFtrSlFrmItmLst
{
    @extend .CSSRtlrTblFixHdrBdyFtr ;
}

.CSSRtlrTblFixHdrBdyFtrSlFrmItmLst tbody
{
    /*height: 144px !important ;*/
}


th, tr { 
    
    white-space: nowrap; 
}


table.dataTable thead th, table.dataTable thead td 
{
    /* padding: 10px 18px; */
    /*padding: 1px 1px;*/ 
}